.masonryGrid {
  display: flex;
  margin-left: -2rem;
  width: auto;
  margin-top: 1.25rem;
  padding-bottom: 1.5rem;
}

.masonryColumn {
  padding-left: 2rem;
  background-clip: padding-box;
}

.item {
  width: 100%;
  margin-bottom: 2rem;
}
